.rel-view {
  padding: 15px 20px;
  height: 100vh;
  background-color: whitesmoke;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.rel-view::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.rel-input {
  margin-top: 1px;
}

.rel-label {
  font-size: 12px;
  vertical-align: bottom;
  margin-bottom: 15px;
}
