.play-header {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.sidebar {
  background-color: #EDEDED;
  height: 120vh;
  padding: 0;
  margin: 0;
}

.inner-sidebar {
  padding: 20px 20px;
}

.header-options {
  font-size: 10px;
}

.sb-header {
  font-size: 16px;
  margin-top: 5px;
}

.sb-list-group {
  margin-left: 10px;
  font-size: 11px;
}

.sb-list-group-center {
  margin-left: 10px;
  font-size: 11px;
  text-align: center;
}

.sb-list-item {
  padding: 0;
  border: 0px solid #ffffff;
  margin: 0 0 2px;
  background-color: transparent;
}

.sb-list-item-center {
  padding: 0;
  border: 0px solid #ffffff;
  margin: 0 0 2px;
  background-color: transparent;
}

#block_container1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}


#block_container2 {
    display: flex;
    align-items: stretch;
    justify-content: left;
}